.sawarabi-gothic-regular {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
  background-color: rgb(75, 75, 75);
}

header{
  font-family: "Sawarabi Gothic", sans-serif;
  color: rgb(216, 216, 216);
  display: inline-block;
  width: 100%;
  height: 1080px;
}
h1,p{
  display: flex;
  justify-content: center;
}