.sawarabi-gothic-regular {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul{
  list-style: none;
}

header{
  background-color: #3c3c3c;
}

nav{
  display: flex;
  justify-content: end;
}

.caja{
  font-family: Sawarabi Gothic;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.caja ul{
  display: flex;
}

.caja ul li{
  padding: 15px;
}
